body {
  font-family: Computer;
  background: black;
}

#starField {
  z-index: -1;
  position: absolute;
  width: 95%;
  height: 95%;
}

.button {
  font-size: 50px;
  color: white;
}

#canvasView {
  position: absolute;
  width: 95%;
  height: 95%;
}

#gameView {
  z-index: -1;
}

#score {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
}

@font-face {
  font-family: 'Computer';
  src: url('../img/Computerfont.ttf');
}

ul {
  list-style-type: none;
}

